body {
    background-color: #f8f9fa;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-card {
    width: 400px;
    height: 450px;
    padding: 20px;
    border-radius: 10px 10px 10px 0px;
    box-shadow: 15px 15px 20px black;
    
  }
  .login-card h6{
    text-align: center;
    justify-content: center;

  }
  .login{
    font-size: 20px;
  }
  h2{
    color:#2a3855;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #form1Example3:hover{
    background-color: blue;
  }